body {
    display: flex;
    background-color: #bfae4c9f;
    margin: 0;
    padding: 0;
    flex-direction: column;
    /* Organiza os itens na vertical */

}

h1 {
    display: flex;
    margin-bottom: 100px;
    margin-left: 550px;
}

header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    /* Estilo Vintage */
    background: linear-gradient(to bottom, #d4b483, #b29468);
    /* Tons de pergaminho */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    /* Sombra suave */
    border-bottom: 2px solid #a37646;
    /* Linha decorativa */
    font-family: 'Georgia', serif;
    /* Estilo clássico */
    color: #fff;
    /* Texto claro */

}

header a {
    color: #fff;
    /* Links claros */
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}

header a:hover {
    color: #f0e6d2;
    /* Efeito hover em tom pastel */
}

.titulo {
    margin-left: 600px;
}

nav {
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.paragrafo {
    margin-top: -20px;
    font-size: 1.5rem;
}

.imgcampo {

    height: 250px;
    width: 550px;
    margin-left: 480px;
}

.imgharmonico {
    height: 250px;
    width: 550px;
    margin-left: 480px;
}

.tonalidade{
    height: 250px;
    width: 550px;
    margin-left: 480px;
}

.imgmaior{
    height: 250px;
    width: 550px;
    margin-left: 480px;
}

.triade{
    height: 250px;
    width: 550px;
    margin-left: 480px;
}