body {
    background-image: url('../assets/imgcurso.jpg');
    margin: 0;
    padding: 0;
}

header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    /* Estilo Vintage */
    background: linear-gradient(to bottom, #d4b483, #b29468);
    /* Tons de pergaminho */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    /* Sombra suave */
    border-bottom: 2px solid #a37646;
    /* Linha decorativa */
    font-family: 'Georgia', serif;
    /* Estilo clássico */
    color: #fff;
    /* Texto claro */
}

header a {
    color: #fff;
    /* Links claros */
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}

header a:hover {
    color: #f0e6d2;
    /* Efeito hover em tom pastel */
}



nav {
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.container {

    height: 400px;
    width: 90%; 
    max-width: 400px;
    padding: 30px;
    background-color: rgba(245, 241, 220, 0.348);
    border: 3px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px); 
    text-align: center;
    transition: box-shadow 0.3s ease;
    margin-left: 550px;
    margin-top: 180px;
}

button {
    width: 50%;
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    color:black;
    background-color: #d8bd5ac1;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #bfae4ce7;
}

button:active {
    transform: scale(0.98);
}