/* Estilo geral */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('../Login/assets/imgtheorymusic.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #333; /* Para uma melhor legibilidade */
}

.logo{
    position: relative;
    height: 110px;
    margin-bottom: 600px;
    right: 0px;
}

.slogan-box {
    background-color: #f9f9f9d1; /* Fundo suave */
    color: black; /* Cor do texto */
    font-size: 16px; /* Tamanho do texto */
    padding: 20px; /* Espaçamento interno */
    border-left: 5px solid #333; /* Linha de destaque à esquerda */
    border-radius: 8px; /* Bordas arredondadas */
    max-width: 600px; /* Largura máxima */
    margin: 20px auto; /* Centraliza horizontalmente */
    text-align: center; /* Centraliza o texto */
    font-family: 'Arial', sans-serif; /* Fonte do texto */
    margin-left: 460px;
    margin-bottom: 650px;
  }


/* Container principal */
.container {
    position: absolute;
    height: 400px;
    width: 90%; /* Mais responsivo em dispositivos menores */
    max-width: 400px;
    padding: 30px;
    background-color: rgba(245, 241, 220, 0.348);
    border: 3px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px); 
    text-align: center;
    transition: box-shadow 0.3s ease;
    margin-left: 50px;
}

.container:hover {
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.35); /* Efeito de sombra ao passar o mouse */
}

/* Inputs */
.input_usuario, .input_senha {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 15px;
    border: 1px solid #ddd;
    font-size: 16px;
    transition: border 0.3s ease;
}

.input_usuario:focus, .input_senha:focus {
    outline: none;
    border-color: #5a67d8; /* Cor de foco nos campos */
}

/* Estilo do texto */
.usuario {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-top: 50px;
    color: #444;
}

/* Botões */
button {
    width: 50%;
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    color:black;
    background-color: #d8bd5ac1;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #bfae4ce7;
}

button:active {
    transform: scale(0.98);
}
